.Card {
	background-color: white;
	margin: 10px 0px;
	padding: 25px;
	box-shadow: 1px 1px 1px #c2bebe;
}

.Card:hover {
	margin: 10px 5px;
	padding: 30px;
	box-shadow: 2px 2px 2px #c2bebe;
}

.Card p {
	color: black !important;
}

a {
	text-decoration: none !important;
}
